body {
  background-color: black;
}

.card {
  
    background-color: darkorange;
    color: white;
}

.container {
  background-color: white;
  border-radius: 25px;
}

h3 {
  color: darkorange;
  letter-spacing: 10px;
}

.nav-item {
  background-color: white;
  
}

button {
  border: white;
  
  border-radius: 5px;
  
}

button:hover {
  background-color: lightgrey;
  border: black;
}

.nav {
  padding: 10px;
}
