body {
  background-color: black;
}

.card {
  
    background-color: darkorange;
    color: white;
}

.container {
  background-color: white;
  border-radius: 25px;
}

h3 {
  color: darkorange;
  letter-spacing: 10px;
}

.nav-item {
  background-color: white;
  
}

button {
  border: white;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px 15px;
  
}

button:hover {
  background-color: lightgrey;
  border: black;
}

nav {
  padding: 10px;
  border-radius: 25px;
}

p.thick {
  font-weight: bold;
  text-align: center;
}

/* Modify the backgorund color */ 
.navbar-custom { 
	background-color: gray; 
} 
